:root {
    --dark-green: #17301C;
    --dark-cyan: #379392;
    --moonstone: #4FB0C6;
    --silver-lake-blue: #4F86C6;
    --light-bg: #f7f7f7;
    --white: #ffffff;
    --text-dark: #333333;
    --text-medium: #555555;
    --text-light: #777777;
    --error-light: #ff9595;
    --error-dark: #ff3636;

    --headerHeight: 75px;
    --sidebarWidth: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#root main {
    width: calc(100vw - var(--sidebarWidth));
}

#root .dashboard-container {
    height: calc(100vh - var(--headerHeight));
    padding: 15px;
    background-color: #EFEFEF;
    position: relative;
}