:root {
    --dark-blue: #14283D;
    --dark-cyan: #379392;
    --moonstone: #4FB0C6;
    --silver-lake-blue: #4F86C6;
    --light-bg: #f7f7f7;
    --light-bg-hover: #e7e7e7;
    --primary-button-bg: #4FB0C6;
    --primary-button-bg-hover: #379392;
    --secondary-button-bg: #f7f7f7;
    --secondary-button-bg-hover: #e7e7e7;
    --white: #ffffff;
    --text-dark: #333333;
    --text-medium: #555555;
    --text-light: #777777;
    --error-light: #ff9595;
    --error-dark: #ff3636;

    --border: #eee;
    --border-focus: #4FB0C6;

    --headerHeight: 75px;
    --sidebarWidth: 200px;

    --dashboard-bg: #EFEFEF;
    --dashboard-text: #000;
}

:root[data-theme="dark"] {
    --error-light: #ff5858;
    --error-dark: #d63031;

    --headerHeight: 75px;
    --sidebarWidth: 200px;

    --dashboard-bg: #2a2a2a;
    --dashboard-text: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--dashboard-bg);
    color: var(--dashboard-text);
}

#root main {
    width: calc(100vw - var(--sidebarWidth));
}

#root .dashboard-container {
    height: calc(100vh - var(--headerHeight));
    padding: 15px;
    background-color: var(--dashboard-bg);
    color: var(--dashboard-text);
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}
