:root {
    --dark-blue: #14283D;
    --dark-cyan: #379392;
    --moonstone: #4FB0C6;
    --silver-lake-blue: #4F86C6;
    --light-bg: #f7f7f7;
    --light-bg-hover: #e7e7e7;
    --primary-button-bg: #4FB0C6;
    --primary-button-bg-hover: #379392;
    --secondary-button-bg: #f7f7f7;
    --secondary-button-bg-hover: #e7e7e7;
    --white: #ffffff;
    --text-dark: #333333;
    --text-medium: #555555;
    --text-light: #777777;
    --error-light: #ff9595;
    --error-dark: #ff3636;
    --border: #eee;


    --headerHeight: 75px; /* Height of the header */
    --sidebarWidth: 200px; /* Width of the sidebar */


    /* -- */
    --dashboard-bg: #EFEFEF; /* Light mode color for .dashboard-container background */
    --card-bg: #ffffff; /* Light mode color for Card background */
    --btn-bg: #4FB0C6; /* Light mode color for Button background */
    --btn-bg-hover: #4F86C6; /* Light mode color for Button background on hover */
    --text-color-h5: #333333; /* Light mode color for H5 Tags */
}

:root[data-theme="dark"] {
    --error-light: #ff5858;
    --error-dark: #d63031;


    /* -- */
    --dashboard-bg: #2a2a2a; /* Dark mode color for .dashboard-container background */
    --card-bg: #1E1E1E; /* Dark mode color for Card background */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--dashboard-bg);
}

#root main {
    width: calc(100vw - var(--sidebarWidth));
}

#root .dashboard-container {
    height: calc(100vh - var(--headerHeight));
    padding: 15px;
    background-color: var(--dashboard-bg);
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    #root main {
        width: 100vw;
    }
}
