aside {
    width: var(--sidebarWidth);
    height: 100vh;
    background-color: #CAE5FF;
}

aside .sidebar-title {
    margin: 50px 0;
    text-align: center;
}

aside .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside img {
    width: 75%;
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

aside nav a:hover {
    background-color: #e3f2fd;
    transition: 0.5s;
}