header {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    padding: 0 15px;
}

header .name {
    width: calc(100% - 50px);
}

header .welcome {
    width: 50px;
    text-align: right;
}