header {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--headerHeight);
    padding: 0 15px;
}

header .name {
    width: 20%;
}

header nav {
    width: 70%;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

header .welcome {
    width: 10%;
    text-align: right;
}